<div class="page-header">
    <h1>{{i18n('page.contact.title')}}</h1>
</div>
<div class="row">
    <div class="span4">
        <div ng-bind-html-unsafe="i18n('page.contact.text')"></div>
    </div>
    <div class="span8">
        <form name="contact" class="form-horizontal" accept-charset="utf-8" ng-submit="sendMail()">
            <div class="control-group ">
                <label for="name" class="control-label">{{i18n('page.contact.author')}}<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" placeholder="{{i18n('page.contact.author.placeholder')}}" id="name" ng-model="name" required>
                </div>
            </div>
            <div class="control-group ">
                <label for="email" class="control-label">{{i18n('page.contact.mail')}}<span class="required">*</span></label>
                <div class="controls">
                    <input type="email" placeholder="{{i18n('page.contact.mail.placeholder')}}" id="email" ng-model="email" required>
                </div>
            </div>
            <div class="control-group ">
                <label for="message" class="control-label">{{i18n('page.contact.message')}}<span class="required">*</span></label>
                <div class="controls">
                    <textarea rows="3" class="xxlarge" id="message" ng-model="message" required></textarea>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary" ng-disabled="!contact.$valid">{{i18n('page.contact.send')}}</button>
            </div>
        </form>
    </div>

</div>