<div class="row-fluid">
    <div class="span6">
        <div class="codeArea">
            <textarea ui-codemirror="{theme:'monokai', mode:'text/html', tabMode: 'indent', autoCloseBrackets: true, autoCloseTags: true}" ng-model="prez"></textarea>
        </div>
        <div class="codeArea">
            <textarea ui-codemirror="{theme:'monokai', tabMode: 'indent', mode:'css', autoCloseBrackets: true}" ng-model="css"></textarea>
        </div>
    </div>
    <div class="span6">
        <iframe id="preview" frameBorder="0" ></iframe>
    </div>
</div>
